{% extends "admin/base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>بازنشانی</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				{% with form = Forms.config.ResetInstanceForm() %}
				<form method="POST" id="reset-ctf-form">
					<div class="alert alert-danger" role="alert">
						<p>
							تنظیم مجدد نمونه CTFd به شما امکان می دهد داده ها را به صورت انبوه حذف کنید تا برای رویدادهای دیگر آماده شوید.
 کلاس های دیگر، یا در غیر این صورت آن را به حالت تمیز برسانید.
						</p>

						<p>
							بازنشانی نمونه CTFd داده های انتخاب شده را برای همیشه حذف می کند
						</p>

						<p>
							قبل از تنظیم مجدد به دقت فکر کنید زیرا هیچ نسخه پشتیبان خودکار ساخته نمی شود و تمام داده های انتخاب شده از بین می روند.
						</p>

						<span>
							<strong>
								با ایجاد یک خروجی CTFd، از تمام داده‌های مورد نیاز خود پشتیبان تهیه کنید. <a href="{{ url_for('admin.config', _anchor='backup') }}">
							</strong>
						</span>
					</div>

					<hr>

					<div class="form-group pb-2">
						<div class="form-check">
							{{ form.accounts(class="form-check-input", autocomplete="off") }}
							{{ form.accounts.label(class="form-check-label") }}
						</div>
						<span class="text-muted">
							تمام حساب‌های کاربری و تیمی و اطلاعات مرتبط با آنها را حذف می‌کند<br>
							<small>(کاربران، تیم‌ها، مطالب ارسالی، ردیابی)</small>
						</span>
					</div>

					<div class="form-group pb-2">
						<div class="form-check">
							{{ form.submissions(class="form-check-input", autocomplete="off") }}
							{{ form.submissions.label(class="form-check-label") }}
						</div>
						<span class="text-muted">
							تمام رکوردهایی که حساب‌ها امتیاز کسب کرده‌اند یا اقدامی انجام داده‌اند را حذف می‌کند<br>
							<small>(ارسال‌ها، جوایز، بازگشایی‌ها، پیگیری)</small>
						</span>
					</div>

					<div class="form-group pb-2">
						<div class="form-check">
							{{ form.challenges(class="form-check-input", autocomplete="off") }}
							{{ form.challenges.label(class="form-check-label") }}
						</div>
						<span class="text-muted">
							تمام چالش‌ها و داده‌های مرتبط را حذف می‌کند<br>
							<small>(چالش‌ها، پرچم‌ها، نکات، برچسب‌ها، فایل‌های چالش)</small>
						</span>
					</div>

					<div class="form-group pb-2">
						<div class="form-check">
							{{ form.pages(class="form-check-input", autocomplete="off") }}
							{{ form.pages.label(class="form-check-label") }}
						</div>
						<span class="text-muted">
							تمام صفحات و فایل‌های مرتبط با آنها را حذف می‌کند<br>
							<small>(صفحات، فایل‌های صفحه)</small>
						</span>
					</div>

					<div class="form-group pb-2">
						<div class="form-check">
							{{ form.notifications(class="form-check-input", autocomplete="off") }}
							{{ form.notifications.label(class="form-check-label") }}
						</div>
						<span class="text-muted">
							همه اعلان‌ها را حذف می‌کند<br>
							<small>(اعلان‌ها)</small>
						</span>
					</div>

					<br>

					{{ form.nonce() }}

					{{ form.submit(class="btn btn-warning btn-lg btn-block") }}
				</form>
				{% endwith %}
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block entrypoint %}
	{{ Assets.js("assets/js/pages/reset.js", theme="admin") }}
{% endblock %}
