html {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Vazir';
}

.dropdown-menu {
    text-align: right;
}

.nav-item {
    margin-right: 0;
    margin-left: 0.5rem;
}
  