{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
	<div class="jumbotron my-5">
		<div class="container">
			<h1>به تیم بپیوندید</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				{% include "components/errors.html" %}

				<p class="text-center">
					به <strong>{{ team.name }}</strong> خوش‌آمدید!
				</p>

				<p class="text-center">
					روی دکمه زیر کلیک کنید تا به تیم بپیوندید!
					<br>
					<small class="text-muted">
						یا <a href="{{ url_for('teams.new') }}">اینجا کلیک کنید</a> اگر ترجیح می دهید تیم خود را ایجاد کنید.
					</small>
				</p>

				{% with form = Forms.teams.TeamInviteJoinForm() %}
				<form method="POST">
					<div class="row pt-3 text-center">
						<div class="col-md-12">
							{{ form.submit(class="btn btn-success btn-block") }}
						</div>
					</div>
					{{ form.nonce() }}
				</form>
				{% endwith %}
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
{% endblock %}
