<div role="tabpanel" class="tab-pane config-section" id="backup">
	<ul class="nav nav-tabs mb-3" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" href="#export-ctf" aria-controls="export-ctf" role="tab" data-toggle="tab">خروجی</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#import-ctf" aria-controls="import-ctf" role="tab" data-toggle="tab">دریافت ورودی</a>
		</li>
		<li class="nav-item"> 
			<a class="nav-link" href="#save-csv" aria-controls="save-csv" role="tab" data-toggle="tab">دانلود CSV</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#import-csv" aria-controls="import-csv" role="tab" data-toggle="tab">دریافت CSV</a>
		</li>
	</ul>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="export-ctf">
			<div class="form-group my-3">
				<p>خروجی‌ها، آرشیوی از CTF شما در وضعیت فعلی‌اش هستند. آن‌ها می‌توانند دوباره به نمونه‌های CTFd دیگر وارد شوند یا توسط اسکریپت‌ها و اشخاص ثالث برای محاسبه آمار استفاده شوند.</p>
				<p>برای دانلود فایل خروجی، روی دکمه زیر کلیک کنید.</p>
			</div>
			<div class="form-group">
				<a href="{{ url_for('admin.export_ctf') }}" id="export-button" class="btn btn-warning">خروجی‌ گرفتن</a>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane" id="import-ctf">
			<div class="form-group">
				<p>شما می‌توانید خروجی‌های ذخیره‌شده CTFd را با آپلود کردن آنها در زیر وارد کنید. این کار نمونه CTFd موجود شما را کاملاً پاک می‌کند و تمام داده‌های شما با داده‌های وارد شده جایگزین می‌شوند. شما فقط باید داده‌هایی را که به آنها اعتماد دارید وارد کنید!</p>

				<div class="alert alert-warning" role="alert">
					<small class="text-muted text-right">
						<i class="fas fa-exclamation pr-2"></i>
						وارد کردن خروجی CTFd، داده‌های موجود شما را کاملاً پاک می‌کند.
					</small>
				</div>
			</div>
			<div class="form-group my-3">
				<label for="container-files">دریافت ورودی</label>
				<input class="form-control-file" type="file" name="backup" id="import-file" accept=".zip">
			</div>
			<input id="import-button" type="submit" class="btn btn-warning" value="دریافت ورودی">
		</div>
		<div role="tabpanel" class="tab-pane" id="save-csv">
			<div class="alert alert-warning" role="alert">
				<small class="text-muted text-right">
					<i class="fas fa-exclamation pr-2"></i>
					تضمینی وجود ندارد که CSV های صادر شده از CTFd از طریق قابلیت وارد کردن CSV دوباره وارد شوند. برای جزئیات بیشتر به <a href="https://docs.ctfd.io/docs/imports/csv/" target="_blank">دستورالعمل‌های وارد کردن CSV</a> مراجعه کنید.
				</small>
			</div>
			{% with form = Forms.config.ExportCSVForm() %}
			<form method="GET" action="{{ url_for('admin.export_csv') }}">
				<div class="form-group my-3">
					{{ form.table.label }}
					{{ form.table(class="form-control custom-select") }}
				</div>
				<input type="submit" class="btn btn-warning" value="دانلود CSV">
			</form>
			{% endwith %}
		</div>
		<div role="tabpanel" class="tab-pane" id="import-csv">
			{% with form = Forms.config.ImportCSVForm() %}
			<form method="POST" action="{{ url_for('admin.import_csv') }}" enctype="multipart/form-data" id="import-csv-form">
				<div class="form-group my-3">
					<div class="alert alert-info" role="alert">
						<small class="text-muted text-right">
							<a href="https://docs.ctfd.io/docs/imports/csv/" target="_blank">
								<i class="far fa-question-circle pr-2"></i> دستورالعمل‌ها و قالب‌های CSV
							</a>
						</small>
					</div>
				</div>
				<div class="form-group my-3">
					<b>{{ form.csv_type.label }}</b>
					{{ form.csv_type(class="form-control custom-select", id="import-csv-type") }}
					<small class="form-text text-muted">
						{{ form.csv_type.description }}
					</small>
				</div>
				<div class="form-group my-3">
					<b>{{ form.csv_file.label }}</b>
					{{ form.csv_file(class="form-control-file", id="import-csv-file", accept=".csv") }}
					<small class="form-text text-muted">
						{{ form.csv_file.description }}
					</small>
				</div>
				{{ form.nonce() }}
				<input type="submit" class="btn btn-warning" value="دریافت CSV">
			</form>
			{% endwith %}
		</div>
	</div>
</div>
