<div role="tabpanel" class="tab-pane config-section" id="fields">
	<form method="POST" autocomplete="off" class="w-100">
		<h5>فیلدهای سفارشی</h5>

		<small class="form-text text-muted">
			فیلدهای سفارشی را برای دریافت داده‌های اضافی از شرکت‌کنندگان خود اضافه کنید
		</small>

		<ul class="nav nav-tabs mt-3" role="tablist">
			<li class="nav-item active">
				<a class="nav-link active" href="#user-fields" role="tab" data-toggle="tab">
					کاربران
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#team-fields" role="tab" data-toggle="tab">
					تیم‌ها
				</a>
			</li>
		</ul>

		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="user-fields">
				<div class="col-md-12 py-3">
					<small>فیلدهای کاربری سفارشی در هنگام ثبت نام نمایش داده می‌شوند. کاربران می‌توانند به صورت اختیاری این فیلدها را در پروفایل خود ویرایش کنند.</small>
				</div>

				<div id="user-field-list" class="pt-3">
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="team-fields">
				<div class="col-md-12 py-3">
					<small>فیلدهای سفارشی تیم در هنگام ایجاد تیم نمایش داده می‌شوند. کاپیتان‌های تیم می‌توانند به صورت اختیاری این فیلدها را در پروفایل تیم ویرایش کنند.</small>
				</div>

				<div id="team-field-list" class="pt-3">
				</div>
			</div>
		</div>
	</form>
</div>