<div role="tabpanel" class="tab-pane config-section" id="pause">
	<form method="POST" autocomplete="off" class="w-100">
		<div class="form-group my-3">
			<div class="form-check pl-0">
				<label>
					<input id="paused" name="paused" type="checkbox" {% if paused %}checked{% endif %}>
					توقف مسابقه CTF
				</label>
			</div>
			<small class="form-text text-muted">
				از ارسال پاسخ توسط کاربران تا زمان رفع مشکل جلوگیری کنید. چالش‌ها همچنان قابل مشاهده هستند.
			</small>
		</div>

		<div class="form-group my-3">
			<button type="submit" class="btn btn-md btn-primary float-right">به‌روزرسانی</button>
		</div>
	</form>
</div>
