<div role="tabpanel" class="tab-pane config-section" id="registration_code">
	<form method="POST" autocomplete="off" class="w-100">
		<div class="form-group my-3">
			<label for="ctf_name">
				کد ثبت نام
				<br>
				<small class="form-text text-muted">کد ثبت نام برای ثبت حساب کاربری الزامی است (به استثنای SSO)</small>
			</label>
			<br>
			<div class="input-group my-3">
				<input class="form-control" id='registration_code' name='registration_code' type='text' placeholder="کد‌ثبت‌نام"
				{% if registration_code is defined and registration_code != None %}value="{{ registration_code }}"{% endif %}>
			</div>
		</div>

		<button type="submit" class="btn btn-md btn-primary float-right">به‌روزرسانی</button>
	</form>
</div>
