<div role="tabpanel" class="tab-pane config-section" id="sanitize">
	{% set html_sanitization = "true" if html_sanitization == True else "false" %}
	<form method="POST" autocomplete="off" class="w-100">
		<div class="form-group my-3">
			<label for="html_sanitization">
				پاکسازی HTML
				<br>	
				<small class="form-text text-muted">
					آیا CTFd تلاش خواهد کرد محتوای HTML را از محتواهای دیگر جدا کند یا خیر.
				</small>
			</label>
			<select class="form-control custom-select" name="html_sanitization">
				{% if force_html_sanitization %}
				<option>
					Required (Disable in config.ini)
				</option>
				{% else %}
				<option value="true" {% if html_sanitization=='true' %}selected{% endif %}>
					فعال
				</option>
				<option value="false" {% if html_sanitization=='false' %}selected{% endif %}>
					غیرفعال
				</option>
				{% endif %}
			</select>
		</div>
		<button type="submit" class="btn btn-md btn-primary float-right">به‌روزرسانی</button>
	</form>
</div>
