{% block header %}
{% endblock %}

<form method="POST">
	{% block name %}
	<div class="form-group my-3">
		<label>
			نام<br>
			<small class="form-text text-muted">نام چالش</small>
		</label>
		<input type="text" class="form-control chal-name" name="name" value="{{ challenge.name }}">
	</div>
	{% endblock %}

	{% block category %}
	<div class="form-group my-3">
		<label>
			کتگوری<br>
			<small class="form-text text-muted">کتگوری چالش</small>
		</label>
		<input type="text" class="form-control chal-category" name="category" value="{{ challenge.category }}">
	</div>
	{% endblock %}

	{% block message %}
	<div class="form-group my-3">
		<label>
			پیام<br>
			<small class="form-text text-muted">
				از این برای ارائه مقدمه‌ای کوتاه در مورد چالش خود استفاده کنید.
			</small>
		</label>
		<textarea id="desc-editor" class="form-control chal-desc-editor markdown" name="description" rows="10">{{ challenge.description }}</textarea>
	</div>
	{% endblock %}

	{% block attribution %}
	<div class="form-group my-3">
		<label>
			ویژگی:<br>
			<small class="form-text text-muted">
				ویژگی‌های چالش شما <small>(از markdown پشتیبانی می‌کند)</small>
			</small>
		</label>
		<input type="text" class="form-control" name="attribution" value="{{ challenge.attribution }}">
	</div>
	{% endblock %}

	{% block connection_info %}
	<div class="form-group my-3">
		<label>
			اطلاعات اتصال<br>
			<small class="form-text text-muted">
				از این برای مشخص کردن لینک، نام میزبان یا دستورالعمل‌های اتصال برای چالش خود استفاده کنید.
			</small>
		</label>
		<input type="text" class="form-control chal-connection-info" name="connection_info" value="{{ challenge.connection_info | default('', true) }}">
	</div>
	{% endblock %}

	{% block value %}
	<div class="form-group my-3">
		<label for="value">
			مقدار<br>
			<small class="form-text text-muted">
				این تعداد امتیازی است که تیم‌ها پس از حل این چالش دریافت خواهند کرد.
			</small>
		</label>
		<input type="number" class="form-control chal-value" name="value" value="{{ challenge.value }}" required>
	</div>
	{% endblock %}

	{% block max_attempts %}
	<div class="form-group my-3">
		<label>
			حداکثر تلاش<br>
			<small class="form-text text-muted">حداکثر تعداد دفعات تلاش برای کاربران. برای نامحدود بودن، عدد ۰ را بگذارید.</small>
		</label>

		<input type="number" class="form-control chal-attempts" name="max_attempts" value="{{ challenge.max_attempts }}">
	</div>
	{% endblock %}

	{% block state %}
	<div class="form-group my-3">
		<label>
			حالت<br>
			<small class="form-text text-muted">وضعیت چالش را تغییر می‌دهد (مثلاً قابل مشاهده، پنهان)</small>
		</label>

		<select class="form-control custom-select" name="state">
			<option value="visible" {% if challenge.state == "visible" %}selected{% endif %}>Visible</option>
			<option value="hidden" {% if challenge.state == "hidden" %}selected{% endif %}>Hidden</option>
		</select>
	</div>
	{% endblock %}

	{% block submit %}
	<div my-3>
		<button class="btn btn-success btn-outlined float-right" type="submit">
			به‌روزرسانی
		</button>
	</div>
	{% endblock %}
</form>

{% block footer %}
{% endblock %}