@font-face {
    font-family: 'Vazir';
    src: url('../fonts/persian/Vazirmatn-Light.woff2') format('woff2'),
         url('../fonts/persian/Vazirmatn-Regular.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir';
    src: url('../fonts/persian/Vazirmatn-SemiBold') format('woff2');
    font-weight: bold;
    font-style: normal;
}

/* Add other variations as needed */

body, h1, h2, h3, h4, h5, h6, p, input, button, select, textarea {
    font-family: 'Vazir', Arial, sans-serif !important;
}