@use "sass:map";
@use "~/@fontsource/lato/scss/mixins.scss" as Lato;
@use "~/@fontsource/raleway/scss/mixins.scss" as Raleway;

@include Lato.faces(
  $subsets: all,
  $weights: (
    400,
    700,
  ),
  $styles: all,
  $directory: "../webfonts"
);

@include Raleway.faces(
  $subsets: all,
  $weights: (
    500,
  ),
  $styles: all,
  $directory: "../webfonts"
);

@font-face {
  font-family: 'Vazir';
  src: url('../../static/webfonts/Vazirmatn-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vazir-Bold';
  src: url('../../static/webfonts/Vazir-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

$fa-font-display: auto !default;
@import "~/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~/@fortawesome/fontawesome-free/scss/regular.scss";
@import "~/@fortawesome/fontawesome-free/scss/solid.scss";
@import "~/@fortawesome/fontawesome-free/scss/brands.scss";




$main-font: 'Vazir', sans-serif;
$bold-font: 'Vazir-Bold', sans-serif;

html,
body,
a,
.container {
  font-family: $main-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  font-family: $bold-font;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
